* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f6f6;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.nav-bar {
    background-color: white;
    width: 19%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-right: 1px solid #dbdada;
}

.logo-img {
    width: 7rem;
    margin-top: .9rem;
    margin-bottom: 3rem;
}
.nav-content {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
}

.nav-content i {
    font-size: 1.4rem;
}

.nav-content span {
    font-size: 1rem;
    margin-left: .9rem;
    letter-spacing: .8px;
}

.nav-content .active {
    font-weight: 600;
}

.nav-content img {
    width: 1.4rem;
    height: 1.6rem;
    border-radius: 50%;
    margin: 0;
}

.more {
    margin-top: 4rem;
}

.timeline-posts {
    width: 48%;
}

.friends-suggestion {
    background-color: beige;
    width: 33%;
}